<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        
        <rule name="Practice Management" stopProcessing="true">
          <match url="^DentalSoft/*"/>
          <action type="Rewrite" url="/AdminPanel.html"/>
        </rule>
       
        <!--<rule name="HTTPS force" enabled="true" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="http://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent"/>
        </rule>-->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>